			*{
					margin:0;
					padding:0;
				}
				body{
					background-color: #a6bf7d;
				}
				#wraper{
					width:717px;
					margin:0 auto;
					padding:0;
				}
				header{
					width:717px;
					height:255px;
				
				}
				nav{
					height:30px;
					background:#85a157;
					border:3px solid #fff;
				}
				nav ul{
					height:100%;
				}
				nav ul li{
					display: inline-block;
					list-style:none;
					padding:6px 0 9px 45px;
				}
				nav ul li a{
					text-decoration: none;
					color:#fff;
				}
				nav ul li a:hover{
					text-decoration: underline;
				}
				footer{
					text-align:center;
					font-family:verdana;
					font-size:12px;
					color:#fff;
					margin-top:10px;
				}
				footer a{
					color:#fff;
				}
				#contenidogeneral{
					background:#e6e8e0;
					width:711px;
					height:422px;
					margin:0 auto;
					border:3px solid #fff;
					border-top:none;
					border-radius: 0 0 5px 5px;

				}
/************************BANNER***********************/
				#logocharitable{
					font-family:verdana;
					font-size:24px;
					font-style:italic;
					color:#fff;
					position:absolute;
					margin:20px 0 0 70px;
				}
				#logoorganization{
					font-family:verdana;
					font-size:24px;
					font-style:italic;
					color:#fff;
					position:absolute;
					margin:45px 0 0 93px;
				}
				#donation{
					position: absolute;
					font-size:18px;
					font-family:verdana;
					font-weight:normal;
					color:#fff;
					margin:120px 0 0 43px;
					width:230px;

				}
				#donationlink a{
					position: absolute;
					font-size:12px;
					font-family:verdana;
					font-weight:normal;
					color:#28556b;
					margin:175px 0 0 43px;
					width:150px;
					text-decoration:underline;
				}
				#titulosidebar{
					font-size:14px;
					font-family:verdana;
					color:#85a157;
					padding-bottom:30px;
				}
				#LatestNews{
					width:170px;
				}
 /*****************CONTENIDO GENERAL******************/
				.titulo{
					width:315px;
					font-family:verdana;
					font-size:14px;
					font-weight:bold;
					padding-bottom:32px;
				}
				.contenidoprincipal{
					float:left;
					padding: 26px 0 0 29px;
					width:418px;
				}

				.contenidogaleria{
					float:left;
					padding: 0 0 0 29px;
					width:418px;
				}
				.wpLatestNews{
					margin-top:20px;
					padding:0 0 0 14px;
					width:245px;
					float:right;
					border-left:2px solid #fff;
				}
				.subtitulosidebar{
					font-family:verdana;
					font-size:13px;
					color:#c77e0c;
					padding-bottom:20px;
					text-decoration:underline;
				}
				.wpLatestNews p{
					font-size:verdana;
					font-size:11.5px;
					font-weight:normal;
					padding-bottom:30px;
				}
				
				.parrafos{
					width:415px;
					font-family:verdana;
					font-size:12px;
					font-weight:normal;
				}
				.parrafos .parrafo{
					padding-bottom:20px;
				}
				.nf{
					clear:both;
				}